.About {
  width: 60%;
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  gap: 2vw;
  justify-content: space-around;
  align-items: flex-start;
  margin-bottom: 2vw;
}


.About .card {
  height: auto;
  width: 20rem;
  background-color: transparent;
}

.About .card-body {
  background-color: white;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.About .card-image-top {
  width: 30vw !important;
  height: auto !important;
}

.About .card-text {
  width: 100%;
  text-align: left;
}

h2.About {
  font-size: 8vw;
  color: #80ED99;
}

