body{
  background-color: #22577A !important;
}

input{
  background-color: aliceblue;
}

button{
  border-radius: 25px;
  border: 3px solid black;
}
searchbar.button{
  background-color: aliceblue;
}


