body{
  background-color: #22577A !important;
}

input{
  background-color: aliceblue;
}

button{
  border-radius: 25px;
  border: 3px solid black;
}
searchbar.button{
  background-color: aliceblue;
}

.login-nav {
  min-height: 6vh !important;
  display: flex;
  margin-top: 0px !important;
  background-color: #57CC99;
  height:fit-content !important;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.auth-buttons {
  display: flex;
  justify-content: space-around;
  gap: 2rem;
}
.loggedInAs{
  color: white;
  width: 440px;
  display: flex;
  position: absolute;
  right: 1vw;
  font-weight: bold;
}

