.dashboardCard{
  width: 35vw !important;
}
.dashcardRatingAndDelete{
display: flex;
justify-content: space-between;

}
.dashCardBody p{
  width: auto !important;
}
.dashboardCard{
  width: 50vw !important;
  height: auto !important;
  
}
.starsAndUpdateOnly{
  width: auto;
  display: flex;
  position: absolute;
  margin-right: 10px;
 left: 2rem !important;
  justify-content: space-between !important;
  gap: 30px;
}
.dashCardList{
  width: 50%;
  height: 100% !important;
}
.dashcardRatingAndDelete{
  padding: 20px;
}
.dashCardDelete{
  position: absolute;
  right: 1rem;
}