nav {
  background-color:#38A3A5 ;
}

.navbar-toggler{
  position: fixed;
  left: 3rem;
  background-color:#80ED99 !important;
}
.navbar-brand{
  margin-right: none !important;
}
.navbar{
  display:  flex !important;
  background-color: #38A3A5 !important;
  position: relative;
  height: 8rem;
}
.navbar-brand{
  display: block;
  font-size: 300% !important;
  position: absolute;
  left: 35%;
}
.nav-item{
  display: flex !important;
  width: 100%;
  height:  auto;
}
.nav-link {
  color:white;
  display: flex;
  /* justify-content: space-around; */
  font-size: 100% !important;
  
  }
  
  .nav-link:visited {
    color:rgb(6, 6, 6);
    
    }
  
    .nav-link:hover{
      color:rgb(0, 162, 255);
      
      }
  
      .nav-link:visited:hover {
        color:rgb(0, 162, 255);
        
        }