*:not(.starRating){

align-items: center;
align-content: center;
margin-left: auto;
margin-right: auto;
text-align: center;

}

html {
  padding: 0rem !important;
  height: auto;
  overflow-y: none;
}

body {
  margin: 0;
  padding-top: 0rem !important;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  padding-top: 0rem !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
