.job-list .card {
  width: 900px !important;
  background-color: transparent !important;
  border: none !important;
}
/* .card button {
  
} */
.job-list .card-header {
  width: 100%;  
  background-color: #80ED99 !important;
  border-radius: 10px !important;
}


 

.job-list  .card-body {
  background-color: white;
  border-radius: 10px;
}

#cardContContainer {
  display: flex;
}

#jobDescription {
  width: 50%;
}

.list-group-item {
  width: 60%;
}
.green {
  background-color: #C7F9CC !important ;
}

.yellow {
  background-color: #ffe884 !important;
}

.red {
  background-color: #ce876d !important;
}



/* .col1 {
  background-color: #38A3A5;
  border-radius: 10px;
} */