.card {
  width: 900px !important;
}

.jobCardTitle {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
  align-items: center;
}

#cardContContainer {
  display: flex;
}

#jobDescription {
  width: 50%;
}