
 .modal-content p {
  overflow-y: scroll;
  text-align: left;
}

#rating-div {
  margin-top: 1vw;
  display: flex;
  flex-direction: column;
  gap: 0.5vw;
}

.modal-city-container {
  border-top: 1px solid black;
}

.modal-content {
  padding: 0rem !important;
}

.accordion-button {
  background-color: transparent !important;
}

.accordion-button:not(.collapsed) {
  color:black !important;
}

#first {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.accordion {
  width: 60%;
}