/* canvas itself */
.canvas{
  width: 800px !important;
}

.sidebarCard{
  width: 500px !important;
  margin-bottom: 10px;
}

.cardScore{
  width: 50%;
  min-height: 80px !important;
  padding: .01px !important;
}

.offcanvas-body {
  display: flex;
  flex-direction: column;
  background-color: blue;
  width: 100%;
}
.offcanvas-header {
  background-color: blue;
  width: 100%;
  display: flex;
  justify-content: center !important;
  align-items: center !important;
  text-align: center;
}

.btn-close {
  position: absolute;
  right: 3%;
}

.sidebarTopLeft {
  width: 50%;
}

.sidebarTopLeft h2{
  font-size: 20px;
}
.sidebarTopLeft h4{
  font-size: 12px;
}

.cardBody {
  width: 100%;
  border: none !important;
}

.sidebarCardTitle {
  display: flex;
  background-color: #80ED99;
  padding: 0 !important;
}

.sidebarTitle {
  padding: 0;
  margin: 0;
}